nav{
    background-color: antiquewhite;
    border-radius:10px;
    padding:20px;
    margin:20px;
    display: flex;
    align-items: center;

}


.nav-links{
  margin-left: auto;
  display: flex;
  gap: 30px;
}

nav a.signup{
    background-color:antiquewhite;
    color: lightblue;
    gap: 10px;
    /* padding-left: 10px; */
    margin-right: 10px;
}


.logo img {
  width: 60px;      /* adjust size */
  height: auto;
  border-radius: 10px;
}


.header{
  padding-top: 10px;
  border: 30px;
  padding-left: 30px;
}

.content{
  padding-left: 30px;
  border: 50px;
  width: 400px;
}

.img img{
  width: 400px;
  height: auto;
  border-radius: 20px;
  ;
}


div.form-container{
    border: 200px;
    background-color: blueviolet;
    border-bottom-right-radius:auto;
    color: white;
    background-color: blueviolet;
  color: white;
  width: 500px;
  padding: 20px;

  margin: 100px auto; /* 👈 centers the form */
  border-radius: 10px;
}


.submit-btn {
  text-align: center;
  margin-top: 20px;
  /* width: auto; */
  color: orange;
  /* justify-content: center; */
}



.submit-btn button {
  padding: 10px 25px;
  background-color: white;
  color: blueviolet;
  background-color: orange;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


body{
    background-color: rgba(30,70,90);
}


/* .img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}


.img img {
  width: 250px;
  height: auto;
  border-radius: 10px;
} */